In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('smart_meter_data.csv')

In [3]:
df.head()

,datetime,msn,location,daily_consumption_load,energy_supplied,energy_billed
0,2021-01-01 00:00:00,ACE43B7D,Chennai,2.59,2.78,2.57
1,2021-01-01 00:15:00,ACE43B7D,Chennai,1.78,2.12,1.86
2,2021-01-01 00:30:00,ACE43B7D,Chennai,2.59,2.68,2.52
3,2021-01-01 00:45:00,ACE43B7D,Chennai,2.45,2.56,2.50
4,2021-01-01 01:00:00,ACE43B7D,Chennai,1.48,1.56,1.49

In [5]:
df['location'].unique()

array(['Chennai', 'Delhi', 'Bengaluru', 'Kolkata', 'Mumbai'], dtype=object)

In [ ]:
locations = ['Chennai', 'Delhi', 'Bengaluru', 'Kolkata', 'Mumbai']
new_df = pd.concat(
    [df[df['location'] == loc].head(10000) for loc in locations],
    ignore_index=True
)

In [7]:
new_df.sample(50)

,datetime,msn,location,daily_consumption_load,energy_supplied,energy_billed
40517,2021-01-06 09:15:00,3F42A75F,Mumbai,3.37,3.44,3.30
20619,2021-01-07 10:45:00,0653DAA9,Bengaluru,1.02,1.14,1.02
11279,2021-01-14 07:45:00,7F6ACD62,Delhi,1.22,1.29,1.19
23575,2021-02-07 05:45:00,0653DAA9,Bengaluru,4.08,4.28,4.24
25004,2021-02-22 03:00:00,0653DAA9,Bengaluru,1.48,1.50,1.44
20010,2021-01-01 02:30:00,0653DAA9,Bengaluru,2.76,2.91,2.77
9988,2021-04-15 01:00:00,ACE43B7D,Chennai,4.59,4.82,4.70
15293,2021-02-25 03:15:00,7F6ACD62,Delhi,3.96,4.09,3.78
18999,2021-04-04 17:45:00,7F6ACD62,Delhi,0.87,0.85,0.84
16950,2021-03-14 09:30:00,7F6ACD62,Delhi,2.18,2.46,2.24
31685,2021-01-18 13:15:00,344684B5,Kolkata,2.58,2.80,2.68
26182,2021-03-06 09:30:00,0653DAA9,Bengaluru,3.60,4.06,3.75
28667,2021-04-01 06:45:00,0653DAA9,Bengaluru,0.91,1.02,0.95
30769,2021-01-09 00:15:00,344684B5,Kolkata,1.14,1.18,1.11
22604,2021-01-28 03:00:00,0653DAA9,Bengaluru,3.02,3.25,2.88
10856,2021-01-09 22:00:00,7F6ACD62,Delhi,1.45,1.47,1.44
12283,2021-01-24 18:45:00,7F6ACD62,Delhi,2.71,2.85,2.65
13202,2021-02-03 08:30:00,7F6ACD62,Delhi,2.16,2.35,2.27
32917,2021-01-31 09:15:00,344684B5,Kolkata,3.33,3.44,3.35
24638,2021-02-18 07:30:00,0653DAA9,Bengaluru,0.52,0.61,0.54
5688,2021-03-01 06:00:00,ACE43B7D,Chennai,1.40,1.47,1.46
4794,2021-02-19 22:30:00,ACE43B7D,Chennai,1.76,1.91,1.83
23020,2021-02-01 11:00:00,0653DAA9,Bengaluru,3.70,4.08,3.78
14951,2021-02-21 13:45:00,7F6ACD62,Delhi,2.73,3.02,2.70
23286,2021-02-04 05:30:00,0653DAA9,Bengaluru,2.42,2.35,2.33
25484,2021-02-27 03:00:00,0653DAA9,Bengaluru,1.74,2.01,1.77
39495,2021-04-09 21:45:00,344684B5,Kolkata,3.24,3.64,3.28
1163,2021-01-13 02:45:00,ACE43B7D,Chennai,3.63,3.72,3.52
41426,2021-01-15 20:30:00,3F42A75F,Mumbai,3.79,4.21,3.87
31891,2021-01-20 16:45:00,344684B5,Kolkata,1.57,1.60,1.51
7956,2021-03-24 21:00:00,ACE43B7D,Chennai,2.19,2.15,2.14
32151,2021-01-23 09:45:00,344684B5,Kolkata,4.38,4.63,4.29
2293,2021-01-24 21:15:00,ACE43B7D,Chennai,1.09,1.10,1.08
39679,2021-04-11 19:45:00,344684B5,Kolkata,2.96,3.15,3.04
39934,2021-04-14 11:30:00,344684B5,Kolkata,1.45,1.62,1.43
34921,2021-02-21 06:15:00,344684B5,Kolkata,1.09,1.19,1.13
10071,2021-01-01 17:45:00,7F6ACD62,Delhi,3.57,3.80,3.51
17039,2021-03-15 07:45:00,7F6ACD62,Delhi,0.93,0.95,0.89
25162,2021-02-23 18:30:00,0653DAA9,Bengaluru,4.55,4.65,4.51
31470,2021-01-16 07:30:00,344684B5,Kolkata,2.81,3.05,2.93
13329,2021-02-04 16:15:00,7F6ACD62,Delhi,0.60,0.61,0.57
29159,2021-04-06 09:45:00,0653DAA9,Bengaluru,1.95,2.19,1.89
31886,2021-01-20 15:30:00,344684B5,Kolkata,1.97,1.97,1.94
2002,2021-01-21 20:30:00,ACE43B7D,Chennai,2.05,2.41,2.08
41398,2021-01-15 13:30:00,3F42A75F,Mumbai,1.72,1.82,1.68
6593,2021-03-10 16:15:00,ACE43B7D,Chennai,4.80,4.93,4.93
13766,2021-02-09 05:30:00,7F6ACD62,Delhi,4.27,4.19,4.17
10887,2021-01-10 05:45:00,7F6ACD62,Delhi,4.39,4.73,4.34
42286,2021-01-24 19:30:00,3F42A75F,Mumbai,0.52,0.60,0.53
43586,2021-02-07 08:30:00,3F42A75F,Mumbai,4.36,4.87,4.43

In [9]:
new_df.to_csv('transformed_smart_meter_data.csv', index=False)