In [1]:
import pandas as pd
df = pd.DataFrame({
  'time': ['2022-09-14 00:52:00-07:00', '2022-09-14 00:52:30-07:00',
           '2022-09-14 01:52:30-07:00'],
  'letter': ['A', 'B', 'C'],
})
df['time'] = pd.to_datetime(df.time)
 
df.query('time >= "2022-09-14 00:52:30-07:00"')

                       time letter
1 2022-09-14 00:52:30-07:00      B
2 2022-09-14 01:52:30-07:00      C

In [3]:
df.set_index('time',inplace=True)
df.loc['2022-09-14':'2022-09-14 00:53']

                          letter
time
2022-09-14 00:52:00-07:00      A
2022-09-14 00:52:30-07:00      B

In [5]:
import pandas as pd
df = pd.DataFrame({
    'time': ['2022-09-14 00:52:00-07:00', '2022-09-14 00:52:30-07:00', 
             '2022-09-14 01:52:30-07:00'],
    'letter': ['A', 'B', 'C'],
})
df['time'] = pd.to_datetime(df.time)

def rows_in_time_range(df, time_column, start_ts_str, timedelta_str):
    # Return rows from df, where start_ts < time_column <= start_ts + delta.
    # start_ts_str can be a date '2022-09-01' or a time '2022-09-14 00:52:00-07:00'
    # timedelta_str examples: '2 minutes' '2 days 2 hours 15 minutes 30 seconds'
    start_ts = pd.Timestamp(start_ts_str).tz_localize('US/Pacific')
    end_ts = start_ts + pd.to_timedelta(timedelta_str)
    return df.query("@start_ts <= {0} < @end_ts".format(time_column))

rows_in_time_range(df, 'time', '2022-09-14 00:00', '52 minutes 31 seconds')

                       time letter
0 2022-09-14 00:52:00-07:00      A
1 2022-09-14 00:52:30-07:00      B

## Pandas DataFrame: Explode a column containing dictionary values into multiple columns

In [7]:
import pandas as pd
df = pd.DataFrame({
  'date': ['2022-09-14', '2022-09-15', '2022-09-16'],
  'letter': ['A', 'B', 'C'],
  'dict' : [{ 'fruit': 'apple', 'weather': 'aces'},
            { 'fruit': 'banana', 'weather': 'bad'},
            { 'fruit': 'cantaloupe', 'weather': 'cloudy'}],
})
df

         date letter                                          dict
0  2022-09-14      A         {'fruit': 'apple', 'weather': 'aces'}
1  2022-09-15      B         {'fruit': 'banana', 'weather': 'bad'}
2  2022-09-16      C  {'fruit': 'cantaloupe', 'weather': 'cloudy'}

In [8]:

pd.concat([df.drop(['dict'], axis=1), df['dict'].apply(pd.Series)], axis=1)

         date letter       fruit weather
0  2022-09-14      A       apple    aces
1  2022-09-15      B      banana     bad
2  2022-09-16      C  cantaloupe  cloudy