In [1]:
import pandas as pd

In [4]:
data_basic_xml = pd.read_xml('D:/Advanced-training-Python-AIML/datasets/xml/basic_xml.xml')

In [5]:
data_basic_xml

   name  age      city
0  John   30  New York
1  Anna   25     Paris

In [10]:
data_complex_xml = pd.read_xml('D:/Advanced-training-Python-AIML/datasets/xml/complex_xml_structures.xml',xpath = './/person')

In [11]:
data_complex_xml

   name  age
0  John   30
1  Anna   25